// Variables
$gray-rgb-light: 0, 0, 0;
$gray-rgb-dark: 255, 255, 255;

$button-primary-hover-light: #383838;
$button-secondary-hover-light: #f2f2f2;
$button-primary-hover-dark: #ccc;
$button-secondary-hover-dark: #1a1a1a;

// Mixins
@mixin grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.page {
  --gray-rgb: #{$gray-rgb-light};
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #{$button-primary-hover-light};
  --button-secondary-hover: #{$button-secondary-hover-light};

  @include grid-center;
  grid-template-rows: 20px 1fr 20px;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);

  @media (prefers-color-scheme: dark) {
    --gray-rgb: #{$gray-rgb-dark};
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #{$button-primary-hover-dark};
    --button-secondary-hover: #{$button-secondary-hover-dark};
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;

  ol {
    font-family: var(--font-geist-mono);
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    list-style-position: inside;
  }

  li:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.code {
  font-family: var(--font-geist-mono);
  font-weight: 600;
  font-size: 13px;
  color: var(--geist-cyan);
  background: var(--gray-alpha-100);
  padding: 2px 8px;
  border-radius: 4px;
  margin: 0 4px;
}

.ctas {
  display: flex;
  gap: 16px;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  a {
    appearance: none;
    border-radius: 128px;
    height: 48px;
    padding: 0 20px;
    border: none;
    border: 1px solid transparent;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

    &.primary {
      background: var(--foreground);
      color: var(--background);
      gap: 8px;

      &:hover {
        background: var(--button-primary-hover);
      }
    }

    &.secondary {
      border-color: var(--gray-alpha-200);
      min-width: 180px;

      &:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
      }
    }
  }
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;

  a {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}
